body{
margin: 0;
padding: 0;
background-color: #f9f9f9;
font-family: sans-serif;
}
header img{
    left: 50%;
    transform: translate(-50%);
    top: 25;
    position: absolute;
}
h1{
    text-align: center;
    display: block;
    margin: 4cm 0 1em;
    font-weight: 100;
    font-size: 24px;
}